%div
  = paginate comments

.comments
  .header
    .number= @guide.all_comments.count
    %span.sort Sort by:
    %a.liked.active Most Liked
    %a.newest Newest
    %a.oldest Oldest
  %ul#comments
    - unless comments.empty?
      = render :partial => 'opinio/comments/comment', :collection => comments.sort_by{|c| c.likes.count}.reverse!
    - else
      %li#no_comments= t 'opinio.no_comments_found', :default => "No comments found"

%div
  = paginate comments
