.comments
  .header
    .left
      .number= @guide.all_comments.count
      .sorting
        %span.sort Sort by:
        %a#likes{:href => "#", :class => "#{"active" if params[:filter] == "likes"}"} Most Liked
        %a#date{:href => "#", :class => "#{"active" if params[:filter] != "likes"}"}  Newest
    .right
      %span.sort.collapse Collapse:
      %a.collapse-all{:href => "#"} All
      %a.collapse-none{:href => "#"} None
    %span.ajax
  %ul#comments
    - unless comments.empty?
      = render :partial => 'opinio/comments/comment', :collection => comment_sort(comments)
    - else
      %li#no_comments= t 'opinio.no_comments_found', :default => "No comments found"
