- reply = defined?(reply) ? reply : false
%li{:id => "comment_#{comment.id}"}
  .comment
    .likes
      .count
        = comment.likes.count
      .like
        %a{:id => "#{comment.id}", :href => "#", :class => "#{current_user && current_user.already_likes?(comment) ? "active" : ""}"} like
    .content
      %span
        By 
        %a{:href => "#"} #{comment.owner.username}
        - if current_user && (current_user.username == comment.owner.username || current_user.role == "admin")
          = link_to '(delete)', comment_path(comment), :method => :delete, :remote => true
        on
        = format_date(comment.created_at)
      %p{:class => "#{comment.owner.role == "admin" ? "admin" : ""}"}
        = comment.body
      %a.line{:href => "#"} 
        %img{:src => "/assets/line.png"}
      - if Opinio.accept_replies && !reply
        %span.reply= link_to t("opinio.reply", :default => "Reply"), reply_comment_path(comment), :remote => true
  - if Opinio.accept_replies && !reply
    %ul.replies{:id => "comment_#{comment.id}_replies"}
      = render :partial => "opinio/comments/comment", :collection => comment.comments, :locals => {:reply => true}
