%div
  = paginate comments

.comments
  .header
    .number= @guide.all_comments.count
    %span.sort Sort by:
    %a.filter.active Most Liked
    %a.filter Newest
    %span.ajax
  %ul#comments
    - unless comments.empty?
      = render :partial => 'opinio/comments/comment', :collection => comment_sort(comments)
    - else
      %li#no_comments= t 'opinio.no_comments_found', :default => "No comments found"

%div
  = paginate comments
