.guides.row
  .alert.alert-error
    %a.close{"data-dismiss" => "alert", :href => "#"} ×
  %div{:class => "guide-#{@guide.id}"}
  .page.span9
    .header.no-avatar
      %input.name{:value => "#{@guide.name}"}
    .video
      %a.btn.remove-video{:href => "#"} 
        %i.icon.icon-minus
      %a.btn.add-video{:href => "#"} 
        %i.icon.icon-plus
      %input.video-url{:value => "url of youtube video"}
    %iframe.youtube{:style => "display: none;", :allowfullscreen => "", :frameborder => "0", :height => "500", :src => "", :width => "100%"}
    .body
      %textarea
        = @guide.body
       
  .sidebar.span3
    %ul.nav
      %li.nav-header
        Date
      %li.date
        = format_date(Date.today)
      %li.nav-header
        Category
      %li.categories
        %select#guide_category{:name => "guide[category]"}
          %option{:value => ""}
          - guide_categories.each do |c|
            %option{:value => "#{c}", :selected => ("true" if @guide.category == c) }= c.capitalize
      - if @guide.map 
        %li.nav-header
          Map
        %li.categories
          %select#guide_map{:name => "guide[map]"}
            %option{:value => ""}
            - maps.each do |c|
              %option{:value => "#{c}", :selected => ("true" if @guide.map == c) }= c.capitalize 
      %li
        %a.btn.preview{:href => "#"} Preview
      %li
        = link_to "Delete", guide_path(@guide.id), :method => :delete, :class => "btn delete"
      %li
        %a.btn.save{:href => "#"} Save
    %ul.nav.cheats
      %li.intro
        The editor uses <strong>Markdown</strong>, a text-to-HTML tool. Here is a cheat sheet to help you.
      %li 
        .element header
        .cheat #Header Text
      %li 
        .element list
        .cheat * list item
      %li 
        .element blockquote
        .cheat > quote text
      %li 
        .element bold
        .cheat **bold words**
      %li 
        .element italics
        .cheat *italic words* 
      %li 
        .element links
        .cheat [Name](http://...com)
      %li 
        .element image
        .cheat ![text](http://../img.png)
      %li 
        .element horizontal line
        .cheat ***  
