.guides.row
  .alert.alert-error
    %a.close{"data-dismiss" => "alert", :href => "#"} ×
  .page.span9
    .header{:style => "background: url(#{@guide.avatar})"}
      .add
        %a.btn.remove-image{:href => "#"} 
          %i.icon.icon-minus
        %a.btn.add-image{:href => "#"} 
          %i.icon.icon-plus 
        %input.image{:value => "#{@guide.avatar}"}
      %input.name{:value => "#{@guide.name}"}
    .video
      %a.btn.remove-video{:href => "#"} 
        %i.icon.icon-minus
      %a.btn.add-video{:href => "#"} 
        %i.icon.icon-plus
      %input.video-url{:value => "url of youtube video"}
    %iframe.youtube{:style => "display: none;", :allowfullscreen => "", :frameborder => "0", :height => "500", :src => "", :width => "100%"}
    .body
      %textarea{:autofocus => ""}
        != @guide.body
       
  .sidebar.span3
    %ul.nav
      %li.nav-header
        Date
      %li.date
        = format_date(Date.today)
      %li.nav-header
        Category
      %li.categories
        %select#guide_category{:name => "guide[category]"}
          %option{:value => ""}
          - guide_categories.each do |c|
            %option{:value => "#{c}", :selected => "#{'selected' ? @guide.category == c : ''}"}= c.capitalize
      %li
        %a.btn.preview{:href => "#"} Preview
      %li
        %a.btn.delete{:href => delete_guide_path(@guide.id)} Delete
      %li
        %a.btn.save{:href => "#"} Save
    %ul.nav.cheats
      %li.intro
        The editor uses <strong>Markdown</strong>, a text-to-HTML tool. Here is a cheat sheet to help you.
      %li 
        .element header
        .cheat #Header Text
      %li 
        .element list
        .cheat * list item
      %li 
        .element blockquote
        .cheat > quote text
      %li 
        .element bold
        .cheat **bold words**
      %li 
        .element italics
        .cheat *italic words* 
      %li 
        .element links
        .cheat [Name](http://...com)
      %li 
        .element image
        .cheat ![text](http://../img.png)
      %li 
        .element horizontal line
        .cheat ***  
