.guides.guide
  .row.top
    .span4.promotion
      .header
        %span Welcome 
      .body
        #promo-slider.carousel
          .carousel-inner
            %a.ad-tip{:href => "#", :rel => "tooltip", :title => "Coming soon!"}
              .item.ad.active

    .span4.promotion
      .header
        %span GUIDES
        %span.leaders
          = link_to "Top Rated", {:controller => "guides", :action => "index", :welcome => "top"}, {:class => "filter "}
        %span.leaders
          = link_to "Egocentric", {:controller => "guides", :action => "index", :welcome => "egocentric"}, {:class => "filter "}
        %span.leaders
          = link_to "Featured", {:controller => "guides", :action => "index", :welcome => "featured"}, {:class => "filter active"}
      #featured.body
        = render "featured"

    .span4.recent
      .header
        %span Recent activity
      .body
        %ul.activities
          - Activity.all.each do |a|
            %li
              != a.to_words
  .row
    .sidebar.scroll.index.span3
      %ul.nav
        %li.top
        %li.meta
          .left 
            Sort by
          .right
            = link_to "Date", {:controller => "guides", :action => "index", :filter => "date"}, {:class => "filter active"}
            = link_to "Rating", {:controller => "guides", :action => "index", :filter => "rating"}, {:class => "filter"} 
        %li.search
          %input.searchbox
        %li.list
          %div
            %h1 Categories
            %ul#source
              %li
                %a.all.active{:href => "#"} All
              - Guide.all_categories.each do |cat|
                %li
                  %a{:href => "#", :class => "#{cat}"} #{cat.capitalize}  
    .guide-list.span9
      .header
        %span.title All Guides
        %span.count= Guide.find(:all).count
        %span.ajax 
      .all-guides 
        .no-guides
          No guides are found.
        = render "guides"
