.guides.guide.row
  .page.span9
    .header{:style => "background:#{@guide.avatar}", :class => ("no-avatar" if @guide.avatar == "rgba(0, 0, 0, 0) none repeat scroll 0% 0%")}
      %h1= @guide.name
      %h2= format_date(@guide.created_at)
    - if @guide.video
      %iframe.youtube{:allowfullscreen => "", :frameborder => "0", :height => "500", :src => "#{@guide.video}", :width => "100%"}
    .body
      = render_markdown(@guide.body)
  .sidebar.span3
    %ul.nav
      %li.top
      %li.meta
        .left 
          Author
        .right
          %a{:href => "#"}= @guide.user.username
      %li.meta
        .left Date
        .right= format_date(@guide.created_at)
      %li.meta
        .left Category
        .right= @guide.category.capitalize!
      %li.list
        %div 
          %h1 More from #{@guide.category}
          %ul
            %li
              %a{:href => "#"} How to use impact nitrons
            %li
              %a{:href => "#"} Routes on Katabatic (DS/BE)
      %li.meta
        .left Comments
        .right 
          %span 14 
      %li.meta.rating
        .left rating
        .right
          = render "rating"
