.guides.guide.row
  .span9
    .page
      .header{:style => "background: url(#{@guide.avatar})", :class => ("no-avatar" unless @guide.avatar)}
        %h1= @guide.name
      - if @guide.video
        %iframe.youtube{:allowfullscreen => "", :frameborder => "0", :height => "500", :src => "http://youtube.com/embed/#{@guide.video}", :width => "100%"}
      .body
        != render_markdown(@guide.body)
    .comments#comment-list
      = comments_for @guide

  .sidebar.span3
    - if current_user && current_user.username == @guide.user.username
      .admin
        %a.btn.edit{:href => edit_guide_path(@guide.id)} Edit
        %a.btn.delete{:href => delete_guide_path(@guide.id)} Delete 
    %ul.nav
      %li.top
      %li.meta
        .left 
          Author
        .right
          %a{:href => "#"}
            = @guide.user.username
      %li.meta
        .left Date
        .right
          = format_date(@guide.created_at)
      %li.meta
        .left Category
        .right
          = @guide.category.capitalize
      - if @guide.more_from_category != []
        %li.list
          %div 
            %h1 More from #{@guide.category}
            %ul
              - @guide.more_from_category.each do |g|
                %li
                  %a{:href => "#"}= truncate(g.name, 30)
      %li.sidebar-comment.meta
        .left Comments
        .right 
          %span.comments= @guide.all_comments.count 
      %li.meta.rating
        .left rating
        #average.right
          = ratings_for @guide, :static
      %li.meta.rating
        .left rate
        #rates.right
          - if current_user
            = ratings_for @guide, :show_user_rating => true
          - else
            %span Must be logged in

