.guides.guide.row
  .span9
    .page
      .header{:style => "background: url(#{@guide.avatar})", :class => ("no-avatar" unless @guide.avatar)}
        %h1= @guide.name
      - if @guide.video
        %iframe.youtube{:allowfullscreen => "", :frameborder => "0", :height => "500", :src => "#{@guide.video}", :width => "100%"}
      .body
        != render_markdown(@guide.body)
    .comments#comment-list
      = comments_for @guide
  .sidebar.span3
    %ul.nav
      %li.top
      %li.meta
        .left 
          Author
        .right
          %a{:href => "#"}
            = @guide.user.username
      %li.meta
        .left Date
        .right
          = format_date(@guide.created_at)
      %li.meta
        .left Category
        .right
          = @guide.category.capitalize
      %li.list
        %div 
          %h1 More from #{@guide.category}
          %ul
            - @guide.more_from_category.each do |g|
              %li
                %a{:href => "#"} #{g.name}  
      %li.sidebar-comment.meta
        .left Comments
        .right 
          %span= @guide.all_comments.count 
      %li.meta.rating
        .left rating
        .right
          = ratings_for @guide
