!!! 5
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %title Team Egocentric
    %meta{:content => "brous", :name => "author"}
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}
    = stylesheet_link_tag "application"
    = csrf_meta_tag
    %script{:src => "http://use.typekit.com/iui1xgf.js", :type => "text/javascript"}
    :javascript
      try{Typekit.load();}catch(e){}
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          .brand
            - if current_user
              %a{:href => "#"} 
                %img{:src => "#{user_avatar}"}
                #{current_user.username}
            - else
              %a{:"data-toggle" => "modal", :style => "padding-left: 10px", :href => "#register"}
                %strong Join our community today!
                %span Create an account
          - if current_user
            .brand.avatar
              %input{:value => "avatar url"}
          .nav-collapse
            %ul.nav
              - if current_user
                %li
                  %a.new-topic.btn{:href => "/"} New topic
                %li
                  %a.new-guide.btn{:href => "/guides/new"} New guide
                %li
                  %a.logout.btn{:href => "/logout"} Logout
              - else
                %li.error
                  Error
                %li
                  %input.username{:value => "username"}
                %li
                  %input.password{:value => "password", :type => "password"}
                %li
                  %a.login.btn{:href => "#"} Login 
    .container.content
      .header
        %a.logo{:href => "#"} Egocentric
        .menu
          %ul.nav.nav-pills
            %li
              %a{:href => "#"} Livestreams
            %li
              %a{:href => "#"} Articles
            %li
              %a{:href => "/guides"} Guides
            %li
              %a{:href => "#"} Forums
            %li
              %a{:href => "#"} Team
      .clearfix

      = yield

    = render "layouts/register" if !current_user

    = javascript_include_tag "application"
    :javascript
      window._gaq = [['_setAccount','UAXXXXXXXX1'],['_trackPageview'],['_trackPageLoadTime']];
